<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zh.grkgzngr@nxxnegvx.pbz</string>
	<key>contactName</key>
	<string>Kartik Agaram</string>
	<key>description</key>
	<string>Bundle for Mu: https://github.com/akkartik/mu</string>
	<key>name</key>
	<string>Mu</string>
	<key>uuid</key>
	<string>24559A54-666E-40D4-A561-C9A49DD9B675</string>
</dict>
</plist>
