# hide from GitHub stats
index.html linguist-generated=true
html/** linguist-generated=true
archive/** linguist-generated=true
prototypes/** linguist-generated=true
tools/iso/kernel.soso/** linguist-vendored
# include the bulk of the repo with an approximately-correct language
# just so it seems less like a purely C++ language
*.subx linguist-language=Assembly
*.mu linguist-language=Forth
